/*/dist
/*/node_modules
/*/dist-ssr
/*/*.local

# Logs
tauri/logs
*.log
tauri/npm-debug.log*
tauri/yarn-debug.log*
tauri/yarn-error.log*
tauri/pnpm-debug.log*
tauri/lerna-debug.log*

tauri/node_modules
tauri/dist
tauri/dist-ssr
tauri/*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

native/*.exe

# IPK build
*.ipk

# Build artifacts (C/C/C++)
*.obj
*.a
*.la
*.lo
*.so
*.dylib
*.dll
*.out

# Native GTK build artifacts
native-gtk/build/
native-gtk/*.obj
native-gtk/*.exe
native-gtk/*.dll
native-gtk/googleballs-desktop-gtk
native-gtk/googleballs-desktop-gtk-debug

# Build and Release Folders
bin-debug/
bin-release/
[Oo]bj/
[Bb]in/

# Other files and folders
.settings/

# Executables
*.swf
*.air
*.ipa
*.apk

# Project files, i.e. `.project`, `.actionScriptProperties` and `.flexProperties`
# should NOT be excluded as they contain compiler settings and other important
# information for Eclipse / Flash Builder.
